{
  "fabric_provider": {
    "tenant_id": "XXXXXXXXXXXXXXXXXXXXX",
    "subscription_id": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
  },
  "fabric_capacities": [
    {
      "location": "eastus2",
      "basename": "test001",
      "sku": "F2",
      "admin_emails": [
      "xyz@google.com",
      "xyzy@google.com"
      ]
    },
    {
      "location": "eastus2",
      "basename": "test002",
      "sku": "F2",
      "admin_emails": [
        "xyz@google.com"
      ]
    }
  ],
  "domains": [
    {
      "display_name": "test-domain",
      "description": "This is a test domain",
      "parent_domain_id": "",
      "admin_principals": [
        {
          "id": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
          "type": "User"
        }
      ]
    }
  ],
  "workspaces": [
    {
      "display_name": "test-workspace",
      "description": "This is a test workspace",
      "capacity_basename": "test001",
      "domain_name": "test-domain"
    },
    {
      "display_name": "test-workspace-2",
      "description": "This is a second test workspace",
      "capacity_basename": "test002",
      "domain_name": "test-domain"
    }
  ]
}